body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #499167;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    background-color: #499167;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/* ------------------ Mic Button ---------------- */
.mic-button {
    background: #5fb5fe;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.mic-button > i {
    color: #333;
}
.mic-button:hover {
    background: #333;
}
.mic-button:hover > i {
    color: #5fb5fe;
}



/* ------------------ Messaging ---------------- */
#chat-space{
    display: grid;
    height: 90%;
    width: 98%;
    grid-template-columns: 1;
    grid-template-rows: 5% 20% 5% 60%;
}
/*------ Users Selection ----------*/

#users-background{
    grid-column: 1/1;
    grid-row: 1/3;
    border-radius: 10px;
    background-color: #5FDD9D;
    position: relative;
    z-index: 0;
    
}

#users-space-header{
    grid-column: 1/1;
    grid-row: 1/1;
    color: black;
    display: flex;
    font-size: larger;
    font-weight: bold;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#users-space{
    background-color: #3F4531;
    grid-column: 1/1;
    grid-row: 2/3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-top: 10px;
    margin: 0px 5px 5px 5px;
    position: relative;
    z-index: 1;
}

#users-space::-webkit-scrollbar{
   width: 10px; 
}
#users-space::-webkit-scrollbar-track{
    background: #24271c;
}
#users-space::-webkit-scrollbar-thumb{
    background: #2d3123;
}

.connected-user {
    height: 20px;
    width: 80%;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #626b4d;
    margin-bottom: 10px;
}

.connected-user:hover {
    color: white;
    background-color: #464d38;
    cursor: pointer;
}

/*------ Chat ----------*/

#chat-background{
    grid-column: 1/1;
    grid-row: 3/6;
    background-color: #5FDD9D;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 0;
    position: relative;
}

#message-user{
    grid-column: 1/1;
    grid-row: 3/4;
    color: black;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    padding-left: 10%;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#message-board{
    background-color: #3F4531;
    grid-column: 1/1;
    grid-row: 4/5;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    margin: 0px 5px 0px 5px;
}

#message-board::-webkit-scrollbar{
    width: 10px; 
 }
 #message-board::-webkit-scrollbar-track{
     background: #24271c;
 }
 #message-board::-webkit-scrollbar-thumb{
     background: #2d3123;
 }

#input-space{
    
    grid-column: 1/1;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#user-input {
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    height: 13px;
    width: 300px;
    background-color: #3F4531;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.3s;
}

#user-input:focus::placeholder {
    color: transparent;
}

/* ---------------- Messages ------------- */

.message{
    color: black;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    word-wrap: break-word;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
}

.user-message{
    background-color: #91F9E5;
    margin-left: auto;
    margin-right: 10px;
}

.contact-message{
    background-color: #5FDD9D;
    margin-left: 10px;
}
